/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Pixel Operator Bold";
    src: url("PixelOperator-Bold.eot?") format("eot"), url("PixelOperator-Bold.woff") format("woff"), url("PixelOperator-Bold.ttf") format("truetype"), url("PixelOperator-Bold.svg#PixelOperator-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}